.table {
    height : 100%;
    width: 100%;
    overflow: scroll;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    justify-self: center;
    align-self: center;
    margin: auto;
}
@media (max-width:768px){
    .table {
        height: auto;
    }
}
